Dataset : https://www.kaggle.com/utkarsharya/ecommerce-purchases

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv('./exer1_ecom_dataset.csv')

### 1.Display Top 10 Rows of The Dataset

In [3]:
data.head(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63

### 2. Check Last 10 Rows of The Dataset

In [4]:
data.tail(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",869968197049750,04/24,877,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,18.35
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,10/20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,01/25,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

### 3. Check Datatype of Each Column

In [5]:
data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [6]:
data = data.infer_objects()

### 4.Check Null Values In The Dataset

In [7]:
data.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

### 6. How Many Rows And Columns Are There In Our Dataset?

In [8]:
data.shape[0]

10000

In [9]:
data.shape[1]

14

In [10]:
f"rows: {data.shape[0]}  cols: {data.shape[1]}"

'rows: 10000  cols: 14'

### 7. Highest And Lowest Purchase Prices

In [11]:
prices = data['Purchase Price']

In [12]:
prices

0       98.14
1       70.73
2        0.95
3       78.04
4       77.82
        ...
9995    82.21
9996    25.63
9997    83.98
9998    38.84
9999    67.59
Name: Purchase Price, Length: 10000, dtype: float64

In [21]:
prices.max()

99.99

In [22]:
prices.min()

0.0

### 8. Average Purchase Price

In [30]:
prices.aggregate('average')

50.347302

In [31]:
prices.sum()/len(prices)

50.347302

### 9 .How many people have French 'fr' as their Language ?

In [33]:
langs = data['Language']

In [39]:
(langs.loc[langs == 'fr']).count()

1097

### 10. Job Title Contains Engineer

In [41]:
jobs = data['Job']

In [51]:
jobs[jobs.str.contains('engineer')]

1               Drilling engineer
3               Drilling engineer
50            Mechanical engineer
103      Technical sales engineer
193               Energy engineer
                  ...
9934    Consulting civil engineer
9948          Structural engineer
9970          Electrical engineer
9977          Biomedical engineer
9996              Energy engineer
Name: Job, Length: 531, dtype: object

In [52]:
jobs[jobs.str.contains('engineer')].count()

531

### 11. How Many People Have Mastercard As Their Credit Card Provider And Made A Purchase Above 50?

In [17]:
data.loc[data['CC Provider'] == 'Mastercard'].loc[data['Purchase Price'] > 50,["Purchase Price","CC Provider"]]

      Purchase Price CC Provider
1              70.73  Mastercard
18             70.15  Mastercard
31             94.14  Mastercard
35             97.46  Mastercard
90             78.86  Mastercard
...              ...         ...
9941           60.03  Mastercard
9948           71.89  Mastercard
9954           87.15  Mastercard
9981           63.61  Mastercard
9987           60.83  Mastercard

[405 rows x 2 columns]

### 12. Find Email of The Person With The Following Credit Card Number: 4664825258997302

In [21]:
data.loc[data["Credit Card"] == 4664825258997302,"Email"]

9992    bberry@wright.net
Name: Email, dtype: object

### 13. How Many People Purchase During The AM and How Many People Purchase During PM ?

In [27]:
data.loc[data["AM or PM"] == "AM"].count()[0]

4932

In [28]:
data.loc[data["AM or PM"] == "PM"].count()[0]

5068

### 14. How Many People have A Credit Card That Expires In 2020?

In [57]:
len([item[-1] for item in data["CC Exp Date"].str.split("/") if item[-1] == '20'])

988

### What Are The Top 5 Most Popular Email providers (e.g. gmail.com, yahoo.com, etc...)

In [62]:
data["EmailProvider"] = [item[-1] for item in data["Email"].str.split("@")]

In [63]:
data["EmailProvider"]

0                  yahoo.com
1                   reed.com
2       morales-harrison.com
3        olson-robinson.info
4                  gmail.com
                ...
9995         wade-garner.com
9996             hotmail.com
9997               gmail.com
9998                reid.net
9999              vaughn.com
Name: EmailProvider, Length: 10000, dtype: object

In [79]:
data.groupby("EmailProvider").agg("count").sort_values(by="Address",ascending=False).head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
EmailProvider,,,,,,,,,,,,,,
hotmail.com,1638,1638,1638,1638,1638,1638,1638,1638,1638,1638,1638,1638,1638,1638
yahoo.com,1616,1616,1616,1616,1616,1616,1616,1616,1616,1616,1616,1616,1616,1616
gmail.com,1605,1605,1605,1605,1605,1605,1605,1605,1605,1605,1605,1605,1605,1605
smith.com,42,42,42,42,42,42,42,42,42,42,42,42,42,42
williams.com,37,37,37,37,37,37,37,37,37,37,37,37,37,37

# Viz

In [10]:
data['Purchase Price'].describe()

count    10000.000000
mean        50.347302
std         29.015836
min          0.000000
25%         25.150000
50%         50.505000
75%         75.770000
max         99.990000
Name: Purchase Price, dtype: float64